h1,h2,h3 {
  color: white;
  text-align: center;
}
body {
  background-color: #3D4851;
}
.header {
  display: none;
}
#banner {
  display: block;
  width: 75%;
  margin-left: auto;
  margin-right: auto;

}
div.content {
  display: none;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgba(150, 150, 150, 0.7);
}
div.featured {
  float: right;
  width: 35%;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  margin-right: 5px;

}
div.intro {
  font-size: 20px;
  padding: 5px;
}
div.storeContainer {
  display: none;
  width: 85%;
  margin-left: auto;
  margin-right: auto;


}
div.storeItem {
  color: white;
  text-align: center;
  width: 25%;
  float: left;
  margin-left: 6.5%;
  background-color: rgba(75, 75, 75, 0.6);
}
img.storeItem{
  width: 60%;
}
ul.bar {
  text-align: center;
  list-style-type: none;
}
li {
  display: inline-block;
  width: 19%;
  margin-left: auto;
  margin-right: auto;

}
a.bar {
  text-decoration: none;
  color: black;
}
